*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

body {
  margin: 0 auto;
  max-width: 500px;
  letter-spacing: -.5px;
  padding: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 25px 0 40px 0;
}

/* ---------------------------------------- */

section {
  display: flex;
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1, h2, h4, p {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
  letter-spacing: 0;
}

p {
  font-size: 13px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

::selection {
  background-color: #ffb039;
}

/* ---------------------------------------- */

.section1 {
  border: solid 3px;
  display: flex; 
  min-height: 240px;
}

.section1 > .a,
.section1 > .b {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

audio::-webkit-media-controls {
  display: none;
}

audio {
  position: absolute;
  top: 4px;
  left: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transform: scale(-1, 1);
  text-align: right;
}

#pause {
  position: absolute;
  top: 4px;
  left: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transform: scale(-1, 1);
  text-align: right;
  animation: fontBounce 0.5s ease-in-out 1; 
  animation-delay: 1s; 
}

@keyframes fontBounce {
  0%, 100% {
      font-size: 20px;
  }
  50% {
      font-size: 24px;
      margin: -2.1px 0 0 -1.6px;
  }
}

#recordimage {
  animation: spin 10s infinite linear;
  animation-play-state: paused;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.b {
  flex-direction: column;
}

#date {
  margin-bottom: 4px;
}

.songdetails p {
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.scroll {
  white-space: nowrap;
}

.scroll div {
  display: flex;
}

.RightToLeft {
  animation: RightToLeft 8s infinite linear;
  animation-delay: 1s;
}

@keyframes RightToLeft {
  0% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.download {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.dlbutton {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.5px;
  cursor: pointer;
  border: 0;
  background-color: lightgray;
  overflow: hidden;
  margin-right: 10px;
  width: 145px;
  transition: .2s;
}

.dlbutton:hover {
  background-color: rgb(184, 184, 184);
  transition: .2s;
}

.dlbutton:focus {
  background-color: rgb(26, 26, 26);
  transition: 0s;
}

.dlbutton:focus img, .dlbutton:focus span {
  filter: invert(1);
  transition: 0s;
}

.dlbutton img {
  height: 24px;
  margin: 0 8px
}

.coin {
  padding: 2px;
}

#dialogBox {
  max-width: 300px;
  width: 88%;
  text-align: center;
  position: fixed;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#closeButton {
  position: absolute;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}

#closeButton:hover {
  background-color: lightgray;
}

#dialogBox img {
  width: 20%;
  margin: 0 0 12px 0;
}

#dialogBox h2 {
  margin-bottom: 12px;
}

#dialogBox p {
  color: #555;
  white-space: normal;
  font-weight: lighter;
  letter-spacing: 0;
  margin-bottom: 24px;
}

#dialogBox img {
  width: 50px;
  margin: 5px 0 12px 0;
}

#paypal {
  padding: 10px 0;
  max-width: 130px;
  background-color: #012169;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

#paypal:hover {
  background-color: #003087;
  transition: .5s;
}

#paypal img {
  margin: 4px 0 0 0;
  width: 50%;
}

/* ---------------------------------------- */

.section2 {
  display: flex;
}

.leftside {
  width: 50%;
  padding-right: 6px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title > * {
  flex: 0;
}

.age {
  display: flex;
  flex-wrap: wrap;
  border: solid 3px;
  min-height: 230px;
  padding: 12px;
}

#agenumber {
  font-size: clamp(40px, 30vw, 150px);
  min-width: 100%;
  text-align: center;
  font-weight: bold;
  margin: -10px 0 -10px 0;
}

.agecounter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#nextage, #timer {
  width: 100%;
}

#nextage {
  margin-bottom: 5px;
}

.leftside p {
  padding: 12px 4px 0px 4px;
  letter-spacing: 0;
  line-height: 1.1rem;
}

/* ---------------------------------------- */

.rightside {
  width: 50%;
  padding-left: 6px;
}

#dropdown-toggle, #dropdown-toggle2, #dropdown-toggle3 {
  display: none;
}

.discocontainer, .contactcontainer, .catalogcontainer {
  border: solid 3px;
  margin-bottom: 12px;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 4px 12px;
}

.dropdown-content, .dropdown-content2 {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease-in-out;
}

#dropdown-toggle:checked + .button2 + .dropdown-content {
  max-height: 105px;
}

#dropdown-toggle2:checked + .button2 + .dropdown-content2 {
  max-height: 470px;
}

#dropdown-toggle3:checked + .button2 + .dropdown-content3-wrapper {
  max-height: 210px;
}

.dropdown-content3-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease-in-out;
}

.dropdown-content3 {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 100%;
  scroll-snap-align: center;
  padding: 12px;
  flex-shrink: 0;
  background-color: white;
  height: 210px;
  color: white;
  text-shadow: 0 2px 10px black;
}

.card a {
  color: #ffb039;
  text-decoration: none;
}

.card a:hover {
  color: #db7103;
  text-decoration: underline;
}

.card p {
  font-style: italic;
  margin-top: 4px;
}

#card1 {
  background-image: url(images/ryuk-cover.jpg);
  background-size: cover;
  background-position: center;
}

#card2 {
  background-image: url(images/elimination-cover.jpg);
  background-size: cover;
  background-position: center;
}

#card3 {
  background-image: url(images/a-nice-calm-fresh-mint-cover.jpg);
  background-size: cover;
  background-position: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.RightToLeft2 {
  display: flex;
  animation: RightToLeft2 8s infinite linear;
  animation-delay: 2s;
  animation-play-state: paused;
}

@keyframes RightToLeft2 {
  0% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom right, #ffe85e, #db7103);
  border: none;
  border-radius: 1000px;
  color: white;
  font-size: 18px;
  padding: 4px 11px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
}

button.prev {
  left: 6px;
}

button.next {
  right: 6px;
}

::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

#triangle {
  flex: 1;
  font-size: 18px;
  padding-top: 2px;
}

.li {
  display: flex;
  padding: 8px 14px;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.lia, .lia2 {
  position: relative;
  overflow: hidden;
}

.lia::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.lia:hover::before {
  transform: translateX(0);
}

.form-container {
  padding: 10px 10px 0 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form > * {
  width: 100%;
}

.form label {
  font-weight: bold;
  margin-bottom: 4px;
}

.form input, .form select, form textarea {
  margin-bottom: 12px;
  padding: 3px 5px;
}

.recent-inspo {
  border: solid;
  padding: 12px;
}

.recent-inspo iframe {
  margin-top: 12px; 
}

/* ---------------------------------------- */

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 0;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  width: 100%;
}

.footer-buttons p {
  font-weight: lighter;
}

.footer-buttons a {
  color: gray;
}

.footer-buttons a:hover {
  text-decoration: underline;
}

#early {
  text-align: right;
  overflow: hidden;
}

#split {
  flex: 0 1 0;
}

#report {
  text-align: left;
  overflow: hidden;
}

/* ---------------------------------------- */

@media (max-width: 480px) {

  .dlbutton {
    padding: 2px;
    justify-content: center;
    max-width: 45px;
  }

  .dlbutton span {
    display: none;
  }

  .dlbutton img {
    margin: 0;
  }

  #span1, #span2 {
    display: none;
  }

}

/* ---------------------------------------- */

@media (max-width: 420px){
  .section1, .section2 {
    flex-direction: column;
    margin: 0;
  }

  .leftside, .rightside {
    width: 100%; /* Ensure leftside takes full width */
    padding: 0;
    margin-bottom: 30px;
  }

  .title {
    margin: 30px 0 0 0;
  }

  .age {
    display: none;
  }

  .aboutme {
    width: 100%; /* Ensure elements inside leftside also take full width */
    margin-bottom: 12px;
  }

}

/* ---------------------------------------- */

@media (max-width: 300px) {
  .section1, .section2 {
    flex-direction: column;
  }

  .leftside, .rightside {
    width: 100%; /* Ensure leftside takes full width */
  }

  .age, .aboutme {
    width: 100%; /* Ensure elements inside leftside also take full width */
  }
  
}

/* ---------------------------------------- */

@media (max-width:267px) {

  .footer-buttons {
    flex-wrap: wrap;
  }

  #split {
    display: none;
  }

  #early, #report {
    text-align: center;
    margin-top: 8px;
  }
}

